{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav style="padding: 40px 280px; background: rgb(0, 0, 145);">
    <h1>            
        <a style='color:white;' href="{% url 'courses:home' %}">
        Bosh Sahifa
        </a>
    </h1>
</nav>
<div class='container pt-5'>
    
    <img src="{{course.image.url}}" alt="" style="width: 300px; height: 300px;">
<h1>{{course.name}}</h1>
<p>{{course.description}}</p>
<i class="fa fa-money mr-2" aria-hidden="true"></i> <span>{{course.price}}</span>

</div>


<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-lg-4 offset-md-1 offset-lg-2">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Kursga yozilish
              </h2>
            </div>
            <form action="." method="post">
                {% csrf_token %}
              <div>
                <input name="name" type="text" placeholder="Ism Familiya" />
              </div>
              <div>
                <input name="phone" type="text" placeholder="Telefon" />
              </div>
              <div>
                <input name="course" class="message-box" placeholder="Kurs turi" />
              </div>
              <div class="d-flex ">
                <button type="submit">
                  Yuborish
                </button>
              </div>
            </form>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  
  <!-- end contact section -->
  

{% endblock content %}